html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article, aside, dialog, figure, footer, header, 
hgroup, nav, section, blockquote { 
	display: block;
}

nav ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

mark {
	background: none;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input[type="submit"], input[type="button"], button {
    padding: 0 !important;
    margin: 0 !important;
}

input, select, a img {
	vertical-align: middle;
}

*{
    overflow:hidden;    /* a lot of you hate me for this, but it just feels better. */
}



/*UI CSS Content*/
html, body
{
    height:100%;
    width:100%;
}
.vertical-wrapper, .single-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -ms-box-orient:vertical;
    -o-box-orient:vertical;
    box-orient:vertical;
}
.single-wrapper>*:not(.selected){
    display:none;
}
.horizontal-wrapper{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -o-box-orient:horizontal;
    box-orient:horizontal;
}
.unwrap.selected, .unwrap.flexible{
    position:relative;
}
.unwrap.selected>*, .unwrap.flexible>*{
    position:absolute;
}
.unwrap>*{
    display:block;
    min-height:100%;
    min-width:100%;
}
.unwrap>.scrollable{
    height:100%;
    width:100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -ms-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    overflow-scrolling:touch;
}
.unwrap>.scrollable::-webkit-scrollbar {
    /*FIXME test this in ICS / JellyBean and check if it is worth it*/
width: 15px;
height: 2px;
}
.scrollable>*{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	-webkit-perspective: 2000;
    -moz-perspective: 2000;
    -ms-perspective: 2000;
    -o-perspective: 2000;
    perspective: 2000;
}
.vertical-wrapper>.flexible, .horizontal-wrapper>.flexible, .single-wrapper>.selected{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    position:relative;
}